node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
*.log
.env
*.env
.idea/
jornal-brf/

# Arquivos de vídeo/mídia pesados
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.mp3
*.wav
deletar.gitignore/README.md
deletar.gitignore/public/acao-curitiba.png
.gitignore
deletar.gitignore/public/aportes.png
.gitignore
deletar.gitignore/public/app-brf-pre.png
deletar.gitignore/public/bandeira-brasil.svg
deletar.gitignore/public/bilhoes.jpg
deletar.gitignore/public/desempenho.jpg
deletar.gitignore/public/edicao.jpg
deletar.gitignore/public/encontro-resultados.png
deletar.gitignore/public/ivone-card.jpg
deletar.gitignore/public/jessica-badge.png
deletar.gitignore/public/jessica-webinar.jpg
deletar.gitignore/public/mauricio-manduca.jpg
deletar.gitignore/public/rai.png
deletar.gitignore/public/webinar.jpg
deletar.gitignore/public/woman_header.png
deletar/README.md
deletar/public/acao-curitiba.png
deletar/public/aportes.png
deletar/public/app-brf-pre.png
deletar/public/bandeira-brasil.svg
deletar/public/bilhoes.jpg
deletar/public/desempenho.jpg
deletar/public/edicao.jpg
deletar/public/encontro-resultados.png
deletar/public/ivone-card.jpg
deletar/public/jessica-badge.png
deletar/public/jessica-webinar.jpg
deletar/public/mauricio-manduca.jpg
deletar/public/rai.png
deletar/public/webinar.jpg
deletar/public/woman_header.png
